/* Color rules */
#searchForms div, .collectionRecord, .resultsRecord, .collectionThumbRecord, .resultsThumbRecord {
border-color: #ffcc00;
}

h1:first-line, h2:first-line {
color: #ffcc00;
}

a:visited, a:link {
color: #66ccff;
}

#navBar, #footer, hr {
background-color: #66ccff;
}

h1, h2 {
color: #66ccff;
}

.links a:visited, .links a:link, .detailLinks a:visited, .detailLinks a:link {
color: #ff5e28;
}

#navBar li, #navBar a:visited, #navBar a:link {
color: white;
}

#navBar a:hover {
color: #ff5e28;
}

