body {padding:10px;}
th {background-color: #999;}
table, .success, .notice, .error {min-width:25%;width:35%;}
.success, .notice, .error {text-align:center;}
.original {background-color: #ccf;}
.other {background-color: #cfc;}
.preview {background-color: #99f;}
div {padding:10px;}